      .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #222D32;
          overflow-x: hidden;
          overflow-y:hidden;
          transition: 0.5s;
          padding-top: 60px;
          border-bottom:1px solid black;
      }

      .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none!important;
          font-size: 15px;
          color: whitesmoke;
          display: block;
          transition: 0.3s;
      }

      .sidenav a:hover {
          background-color: #1E282C;
      }
      .test:hover{
         /*background-color: #1E282C;*/
          border-style: ridge;
          border-left-color: #00A0D2;
          border-top-color:#1E282C;
          border-bottom-color:#1E282C;
          border-right-color:#1E282C;
      }
      .sidenav .closebtn {
          position: absolute;
          top: -10px;
          right: 5px;
          font-size: 25px;
          /*margin-left: 50px;*/
      }
      #sidemenu:hover{
        background-color:#367FA9;
      }
      .SmartTitleHover:hover{
        color:#367FA9!important;
      }
      #SmartTitle{
        transition: margin-left .5s;
        /*padding: 16px;*/
      }
      #Report{
        transition:margin-left .5s;
        padding:16px;
      }
      #main{
        transition:margin-left .5s;
        padding:16px;
      }
      #dashboard-home{
        transition:margin-left .5s;
        padding:16px;
      }
      #reportDashBoard{
        transition:margin-left .5s;
        padding:16px;
      }
      #incomeDashBoard{
        transition:margin-left .5s;
        padding:16px;
      }
      #incomeList{
        transition:margin-left .5s;
        padding:16px;
      }
      #recommendationPlan{
        transition:margin-left .5s;
        padding:16px;
      }
      #expenseList{
        transition:margin-left .5s;
        padding:16px;
      }
      #incomeList{
        transition:margin-left .5s;
        padding:16px;
      }
      #successNotificationExpense{
        transition:margin-left .5s;
        padding:16px;
      }
      #failNotificationExpense{
        transition:margin-left .5s;
        padding:16px;
      }
      /*tree view*/
      /*here problem NOT GOOD*/
      .caret{
        cursor:pointer;
        display:inline-block;
        width:auto!important;
        height:auto!important;
        margin-left:none!important;
        vertical-align:none!important;
        border-top:none!important;
        border-right:none!important;
        border-left:none!important;
      }

      .nested {
        display: none;
      }

      .active {
        display: block;
        /*transition:bottom 5s;*/
      }

      a{
        text-decoration: none!important;
      }

      .navbar-defaults{
        border-color:#d3e0e9;
      }
      @media(min-width: 768px){
        .navbar-static-tops{
          border-radius:0;
        }
      }
      .navbar-static-tops{
          z-index:1000;
          border-width:0 0 1px;
      }
      @media(min-width: 768px){
        .navbars{
          border-radius:4px;
        }
      }
      .navbars{
          position:relative;
          min-height:50px;
          margin-bottom:22px;
          border:1px solid transparent;
      }
      @media(min-width: 768px){
        .container > .navbar-headers, .container > .navbar-collapse, .container-fluid > .navbar-headers, .container-fluid > .navbar-collapse{
          margin-right:0;
          margin-left:0;
        }
      }
      @media(min-width: 768px){
        .navbar-headers{
          float:left;
        }
      }
      @media(min-width: 768px){
        .navbars > .container .navbar-brands, .navbars > .container-fluid .navbar-brands{
          margin-left:-15px;
        }
      }
      .navbar-defaults .navbar-brands{
        color:#777;

      }
      .navbar-brands{
        float:left;
        height:50px;
        padding:14px 15px;
        font-size:18px;
        line-height:22px;
      }

      @media(min-width: 768px){
        .navbar-static-tops{
          border-radius:0;
        }
      }
      #yourdetail-Setting{
        transition: margin-left .5s;
      }
      #setting{
        transition: margin-left .5s;
      }
     
      #carouselExampleControls{
        transition: margin-left .5s;
      }

      #user-hover:hover{
        transition: all .2s ease-in-out;
        transform: scale(0.9); 
      }
      #sync-hover:hover{
        transition: all .2s ease-in-out;
        transform: scale(0.9); 
      }
      #lightbulb-hover:hover{
        transition: all .2s ease-in-out;
        transform: scale(0.9); 
      }
      #dropdownMenuButton:hover{
        transition: all .2s ease-in-out;
        transform: scale(0.9); 
      }
      #myImage{
        width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
      }
      #expenseDashBoard{
        transition:margin-left .5s;
        padding:16px;
      }
      .background--primary-color{
        background-color: #00A0D2;
      }

      .listicle-item_number{
        position:relative;
        width:70px;
        height:70px;
        color:white;
        font-size:34px;
        text-align:center;
        line-height:70px;
        margin-top:-15px;
      }
      .carousel-control-prev-icons,
      .carousel-control-next-icons {
        height: 30px;
        width: 30px;
        /*outline: black;*/
        background-size: 100%, 100%;
        border-radius: 50%;
        /*border: 1px solid black;*/
        background-image: none;
        background:gray;
      }

      .carousel-control-next-icons:after
      {
        content: '>';
        font-size: 19px;
        color: white;
        font-weight:900;
      }

      .carousel-control-prev-icons:after {
        content: '<';
        font-size: 19px;
        color: white;
        font-weight:900;
      }
      .datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled]{
        width:25px;
        height:25px;
        margin:auto;
      }
 
      .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        border-top:2px solid #ddd;
        border-bottom:2px solid #ddd;
      }
/* custom styles */
      .toast{
        background-color:green!important;
      }
      .toast-success{
       background-color:green!important; 
      }
      .table.dataTable tbody th, table.dataTable tbody td{
        padding:8px 17px!important;
      }
  
      /*Toast message when sync*/
      #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 50px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }

      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

     

