
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
$fa-font-path: "~font-awesome/fonts/";
// $fa-font-path: "../fonts";

// $fa-font-path: "../webfonts";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "~font-awesome/scss/font-awesome";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import '~@fortawesome/fontawesome-free/scss/brands';
// @import '~@fortawesome/fontawesome-free/scss/regular';